.boardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px;
}

.board {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-width: 250px;
  width: 250px;
  height: 150px;
  background-color: rgb(236, 236, 236);
  margin: 10px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
}

/* .board::after {
  content: "";
  min-width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
} */

.createBoard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.2rem;
  text-shadow: unset;
}

.deleteBoard {
  background-color: rgba(255, 255, 255, 0.4);
  height: max-content;
  border-radius: 3px;
  cursor: pointer;
  padding: 3px;
}

.deleteBoard:hover {
  /* color: red; */
  background-color: rgba(255, 255, 255, 0.2);
}

.pop-up-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
  z-index: 1;
}

.pop-up-container > button {
  font-size: 1.1rem;
  color: rgba(1, 1, 1, 0.8);
  margin: 10px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.pop-up-menu {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(2, 106, 167, 255);
  padding: 20px;
  margin-top: 40px;
  border-radius: 3px;
}

.pop-up-menu > input {
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 3px;
}

.pop-up-close-btn {
  font-size: 1.4rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 0px 7px;
  cursor: pointer;
}

.pop-up-close-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
