.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 230px;
  background-color: white;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.deleteCard {
  background-color: rgba(0, 0, 0, 0.2);
  height: max-content;
  border-radius: 3px;
  cursor: pointer;
  padding: 3px;
}

.deleteCard:hover {
  /* color: red; */
  background-color: rgba(0, 0, 0, 0.1);
}
