.containerWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  top: 0%;
  left: 0%;
}

.container {
  position: relative;
  top: 10%;
  width: 50%;
  min-width: 300px;
  height: max-content;
  min-height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerClose {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  padding: 0px 7px;
  font-size: 1.2rem;
  font-weight: 100;
}

.containerBody {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 20px;
  /* border: 1px solid black; */
  justify-content: center;
}
