.listWrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.boardName {
  width: max-content;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 3px;
  margin: 10px;
}

.listContainer {
  height: 100%;
  display: flex;
  overflow-x: auto;
  align-items: flex-start;
}

.cardContainer {
  max-height: 70vh;
  min-width: max-content;
  background-color: rgb(215, 215, 215);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
}

.listHeader {
  display: flex;
  justify-content: space-between;
}

.createList {
  min-width: 230px;
  max-width: 230px;
  height: max-content;
  background-color: rgb(215, 215, 215);
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
}

.popUp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.popUpBtn {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.closeBtn {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.2);
}

.closeBtn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.deleteList {
  background-color: rgba(0, 0, 0, 0.4);
  height: max-content;
  border-radius: 3px;
  cursor: pointer;
  padding: 3px;
}

.deleteList:hover {
  /* color: red; */
  background-color: rgba(0, 0, 0, 0.2);
}
