.navBar {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: rgba(2, 106, 167, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: white;
}

.homeBtn {
  text-decoration: none;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  border-radius: 3px;
}

.homeBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
